.contact main section iframe {
    width: 100%;
    height: 600px;
    border: none;
}

.contact main section article {
    margin-bottom: 50px;
}

.contact main section article p {
    line-height: 8px;
}

.contact main section article h4 {
    color: var(--colorVerde);
    font-family: var(--tipografiaTitulos);
    font-weight: 600;
}