<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head')%>
<body class="about">
    <%-include('partials/header')%>
    <main>
        <h1>about<br>emilia //</h1>
            <article>
                <h3>"Seattle-based pop star makes her<br> indie debut with a hauntingly beautiful album"</h3>
                <p>- Lorem ipsum dolor sit amet.</p>
            </article>
            <article>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, expedita. Tenetur excepturi pariatur tempore! Culpa.</h3>
                <p>- Lorem ipsum dolor sit amet.</p>
            </article>
    </main>
</body>
</html>