<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head')%>
<body class="music">
    <%-include('partials/header')%>
    <main>
        <h1>Music //</h1>
        <nav>
            <h5>Direct Links</h5>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#street">Video; Street Light</a></li>
            </ul>
        </nav>
            <section id="album">
                <h3>album <br>twist in my reality</h3>
                <img src="/images/emilia-play-list.png" alt="emilia-play-list">
                <ol>
                    <li><i class="fas fa-play"></i> Organic Love |  02:40</li>
                    <li><i class="fas fa-play"></i> Twist In My Reality | 02:10</li>
                    <li><i class="fas fa-play"></i> Street Light | 03:28</li>
                    <li><i class="fas fa-play"></i> Love Don’t Live HereAnymore (Cover) | 03:49</li>
                </ol>
                <a href="#">Go Top</a>
            </section>

            <section id="organic">
                <h3>video<br>organic love</h3>
                <iframe src="https://player.vimeo.com/video/135166028" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </section>
            <section>
                <h3>video<br>street light</h3>
                <iframe src="https://player.vimeo.com/video/134861419" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </section>
    </main>
</body>
</html>